[build]
  command = "pip install -r requirements.txt"
  functions = "functions"
  publish = "."

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/main"
  status = 200
